* {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.task-list {
  display: block;
}

.strike {
  text-decoration: line-through;
}

.horizontal-list {
  list-style: none;
}

.horizontal-list.btn {
  display: inline;
}

.items-to-do label .list-item {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}