<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">
<head>
  <meta charset='utf-8'>
  <title>To-Do List App</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/toDoListController.js"></script>
</head>
<body ng-controller="ToDoListController as ToDoCtrl">
  <div class="container">
    <header>
      <h1>What do I need to do?</h1>
    </header>
    <section>
      <form class="form-horizontal">
        <input type="text" ng-model="ToDoCtrl.taskItem">
        <button class="btn addTask" ng-click="ToDoCtrl.addTask()">Add Task</button>
      </form>
    </section>
    <section class="list">
      <ul class="items-to-do">
        <label ng-class="{strike: task.completed}" class="task-list" ng-repeat="task in ToDoCtrl.taskList | filter:myFilter">
          <input class="list-item" type="checkbox" value="task" ng-model="task.completed" ng-change="ToDoCtrl.toggleCompletion(task.completed)">{{ task.taskName }}
        </label>
      </ul>
    </section>
    <section class="list-count">
      <p class="count_singular" ng-show="ToDoCtrl.count() === 1">{{ ToDoCtrl.count() }} item left</p>
      <p class="count_plural" ng-hide="ToDoCtrl.count() === 1">{{ ToDoCtrl.count() }} items left</p>
    </section>
    <section>
      <ul class="horizontal-list">
        <li class="btn btn-all"><button ng-click="myFilter = {}">All</button></li>
        <li class="btn btn-active"><button ng-click="myFilter = {completed: false}">Active</button></li>
        <li class="btn btn-completed"><button ng-click="myFilter = {completed: true}">Complete</button></li>
        <li class="btn btn-clear"><button ng-click="ToDoCtrl.clearAll()">Clear All</button></li>
      </ul>
    </section>
  </div>
</body>
</html>