<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">
<head>
  <meta charset='utf-8'>
  <title>To-Do List App</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/toDoListController.js"></script>
</head>
<body ng-controller="ToDoListController as ToDoCtrl">
  <div class="container">
    <header>
      <h1>What do I need to do?</h1>
    </header>
    <section>
      <form class="form-horizontal">
        <input type="text" ng-model="ToDoCtrl.taskItem">
        <button class="btn" ng-click="ToDoCtrl.addTask()">Add Task</button>
      </form>
    </section>
    <section class="list">
      <ul class="items-to-do">
        <label ng-class="{strike: deleted}" class="task-list" ng-repeat="task in ToDoCtrl.taskList">
          <input class="list-item" type="checkbox" checklist-model="list.tasks" checklist-value="task" ng-model="deleted" ng-change="ToDoCtrl.changeClass()">{{ task }}
        </label>
      </ul>
    </section>
    <section class="list-count">
      <p class="count">{{ ToDoCtrl.taskList.length }} items left</p>
    </section>
      <ul class="horizontal-list">
        <li class="btn"><button>All</button></li>
        <li class="btn"><button>Active</button></li>
        <li class="btn"><button>Complete</button></li>
        <li class="btn"><button>Clear All</button></li>
      </ul>
    <section>

    </section>
  </div>
</body>
</html>